<ion-header [translucent]="true">
  <ion-toolbar color="light">

    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title>
      SPORTY - WEATHER
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-card>

    <ion-item lines="none">
      <h1>Today's Date: </h1>
      <h1 slot="end">{{ todayDate | date:"EEE dd MMM"}}</h1>
    </ion-item>

    <ion-item >
      <h1 class="cityName">{{cityName}}: </h1>
    </ion-item>

    <ion-item>
      <h1>
        {{(weatherTemp?.temp -273).toFixed(0)}}
      </h1>
      <h1>°C</h1>
      <img slot="end" [src]=weatherIcon>
    </ion-item>

   
  </ion-card>

  <ion-button class="ion-padding" color="tertiary" expand="full"  [routerLink]="['/home']">
    Plan Activities
  </ion-button>

</ion-content>



